$black: #0c0e12;
$second-black: #27292e;

$primary-green: #7fb504;

$white: #fff;
$second-white: #fcfcfc;
$third-white: #f0f0f1;

$purple: #9b00d6;
$second-purple: #cd80eb;

$green: #7fb504;
$second-green: #699502;

$grey: #888888;
