@import "../../styles/colors.scss";
@import "~@fontsource/roboto";

.card {
  display: flex;
  flex-direction: row;
  background-color: $white;
  width: 90%;
  border-radius: 18px;
  height: 100%;

  .card-content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    border-left: 4px solid $green;
    width: 100%;
  }

  .title-card-content {
    font-family: "Roboto";
    font-size: 32px;
  }

  .text-card-content {
    font-family: "Roboto";
    font-size: 24px;
  }

  .card-btn-success {
    background-color: $green;
    font-family: "Roboto";
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
    letter-spacing: 2px;
    padding: 10px 0;

    &:hover {
      background-color: $second-green;
      transition: 0.2s;
    }
  }
}
