@import "../../styles/colors.scss";

.container-subtitle {
  display: flex;
  flex-direction: row;

  .subtitle {
    margin-left: 20px;
    color: $white;

    font-family: "Arial";
    font-weight: 700;
    font-size: 25px;
    line-height: 59px;

    letter-spacing: -0.01em;

    @media screen and(max-width: 800px) {
      font-size: 20px;
    }
  }
}
