@import "../../styles/colors.scss";

.content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 4px solid $primary-green;
  padding: 10px 50px;
  height: 100px;

  @media screen and(max-width:800px) {
    justify-content: space-between;
    padding: 0px 20px;
  }

  .content-header-left {
    width: 20%;
    display: flex;
    flex-direction: row;

    @media screen and(max-width:800px) {
      width: 50%;
    }

    img {
      width: 100%;
    }
  }

  .content-header-center {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0 20%;

    @media screen and(max-width:800px) {
      width: 0%;
      display: none;
      padding: 0;
    }

    .links {
      font-family: "Arial";
      font-weight: 700;
      font-size: 25px;
      line-height: 20px;
      color: $white;
      text-decoration: none;

      &:hover {
        color: $purple;
        transition: 0.3s;
      }
    }
  }

  .content-header-right {
    width: 20%;
    display: flex;
    justify-content: center;

    @media screen and(max-width:800px) {
      justify-content: right;
      padding-right: 4%;
      width: 50%;
    }

    a {
      &:hover {
        svg {
          background-color: $second-purple;
          padding: 5px;
          transition: 0.1s;
          border-radius: 3px;

          path {
            stroke: $white;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
